nav(class="gardenburger" data-gardenburger="#gardenburger-button2" data-gardenburger-options='{"mobileNavMode": "inline", "overflowText": "More"}')
	ul
		li
			a(href="#") About
			ul
				li: a(href="#") Our Methodology
				li: a(href="#") Our Campus
				li
					span(class="nav-item") Our Team
					ul
						li: a(href="#") Jim
						li: a(href="#") Emily
						li: a(href="#") Stacy
						li
							a(href="#") Montgomery Bartholomew III
							ul
								li: a(href="#") Background
								li
									a(href="#") Education
									ul
										li
											a(href="#") Submenu item
										li
											a(href="#") Submenu item
										li
											a(href="#") Submenu item
								li: a(href="#") Expertise
		li
			a(href="#") Social Media
			ul
				li: a(href="#") X
				li: a(href="#") Instagram
				li: a(href="#") Whatever
		li
			a(href="#") Privacy Policy
		li: a(href="#") Terms of Service
		li
			a(href="#") Contact Us
			ul
				li: a(href="#") Infuriating Phone Bot
				li: a(href="#") Pony express
				li
					a(href="#") Pigeon
					ul
						li
							a(href="#") Slow ($10)
							ul#foo
								li: a(href="#") Steroid add-on ($10)
								li: a(href="#") Morale boost ($5)
						li: a(href="#") Express(ly slow) ($5)
						li: a(href="#") Slowest (FREE)
				li: a(href="#") Whatever Twitter is called today

a(href="#" id="gardenburger-button2")
	svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round")
		line(x1="4" x2="20" y1="12" y2="12")
		line(x1="4" x2="20" y1="6" y2="6")
		line(x1="4" x2="20" y1="18" y2="18")