nav(class="gardenburger" data-gardenburger="#gardenburger-button")
	ul
		li
			a(href="#")
				svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-hand-heart")
					path(d="M11 14h2a2 2 0 1 0 0-4h-3c-.6 0-1.1.2-1.4.6L3 16")
					path(d="m7 20 1.6-1.4c.3-.4.8-.6 1.4-.6h4c1.1 0 2.1-.4 2.8-1.2l4.6-4.4a2 2 0 0 0-2.75-2.91l-4.2 3.9")
					path(d="m2 15 6 6")
					path(d="M19.5 8.5c.7-.7 1.5-1.6 1.5-2.7A2.73 2.73 0 0 0 16 4a2.78 2.78 0 0 0-5 1.8c0 1.2.8 2 1.5 2.8L16 12Z")
				| Causes
			ul
				li: a(href="#") Blue-Footed Booby Fund
				li: a(href="#") Every Doggo Gets a Treato
				li: a(href="#") Existential Crisis Hotline
				li: a(href="#") Minors Making Macaroni
				li
					a(href="#") Elephants Sit on Poachers
					ul
						li: a(href="#") About Elephants
						li: a(href="#") About Poachers
						li: a(href="#") About Sitting
		li: a(href="#")
			svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-basket")
				path(d="m15 11-1 9")
				path(d="m19 11-4-7")
				path(d="M2 11h20")
				path(d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4")
				path(d="M4.5 15.5h15")
				path(d="m5 11 4-7")
				path(d="m9 11 1 9")
			| Products
		li
			a(href="#")
				svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users")
					path(d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2")
					circle(cx="9" cy="7" r="4")
					path(d="M22 21v-2a4 4 0 0 0-3-3.87")
					path(d="M16 3.13a4 4 0 0 1 0 7.75")
				| About
			ul
				li: a(href="#") Our Methodology
				li: a(href="#") Our Campus
				li
					span(class="nav-item")
						svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round")
							path(d="M18 21a8 8 0 0 0-16 0")
							circle(cx="10" cy="8" r="5")
							path(d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3")
						| Our Team
					ul
						li: a(href="#") Jim
						li: a(href="#") Emily
						li: a(href="#") Stacy
						li: a(href="#") Montgomery Bartholomew III
		li
			a(href="#")
				svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-theater")
					path(d="M2 10s3-3 3-8")
					path(d="M22 10s-3-3-3-8")
					path(d="M10 2c0 4.4-3.6 8-8 8")
					path(d="M14 2c0 4.4 3.6 8 8 8")
					path(d="M2 10s2 2 2 5")
					path(d="M22 10s-2 2-2 5")
					path(d="M8 15h8")
					path(d="M2 22v-1a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1")
					path(d="M14 22v-1a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1")
				| Showcase
			ul
				li: a(href="#")
					svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-briefcase-business")
						path(d="M12 12h.01")
						path(d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2")
						path(d="M22 13a18.15 18.15 0 0 1-20 0")
						rect(width="20" height="14" x="2" y="6" rx="2")
					| Corporate
				li: a(href="#")
					svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-home")
						path(d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z")
						polyline(points="9 22 9 12 15 12 15 22")
					| Private
		li: a(href="#")
			svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-heart")
				path(d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z")
				path(d="M14.8 7.5a1.84 1.84 0 0 0-2.6 0l-.2.3-.3-.3a1.84 1.84 0 1 0-2.4 2.8L12 13l2.7-2.7c.9-.9.8-2.1.1-2.8")
			| Testimonials
		li
			a(href="#")
				svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-compass")
					path(d="m16.24 7.76-1.804 5.411a2 2 0 0 1-1.265 1.265L7.76 16.24l1.804-5.411a2 2 0 0 1 1.265-1.265z")
					circle(cx="12" cy="12" r="10")
				| Contact Us
			ul
				li: a(href="#")
					svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bot")
						path(d="M12 8V4H8")
						rect(width="16" height="12" x="4" y="8" rx="2")
						path(d="M2 14h2")
						path(d="M20 14h2")
						path(d="M15 13v2")
						path(d="M9 13v2")
					| Infuriating Phone Bot
				li: a(href="#")
					svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mailbox")
						path(d="M22 17a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V9.5C2 7 4 5 6.5 5H18c2.2 0 4 1.8 4 4v8Z")
						polyline(points="15,9 18,9 18,11")
						path(d="M6.5 5C9 5 11 7 11 9.5V17a2 2 0 0 1-2 2")
						line(x1="6" x2="7" y1="10" y2="10")
					| Pony express
				li
					a(href="#")
						svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bird")
							path(d="M16 7h.01")
							path(d="M3.4 18H12a8 8 0 0 0 8-8V7a4 4 0 0 0-7.28-2.3L2 20")
							path(d="m20 7 2 .5-2 .5")
							path(d="M10 18v3")
							path(d="M14 17.75V21")
							path(d="M7 18a6 6 0 0 0 3.84-10.61")
						| Pigeon
					ul
						li: a(href="#") Slow ($10)
						li: a(href="#") Express(ly slow) ($5)
						li: a(href="#") Slowest (FREE)
				li: a(href="#")
					svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-help")
						circle(cx="12" cy="12" r="10")
						path(d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3")
						path(d="M12 17h.01")
					| Whatever Twitter is called today
		li(class="supress-indicator-chevron")
			a(href="#")
				svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search")
					circle(cx="11" cy="11" r="8")
					path(d="m21 21-4.3-4.3")
			form(class="nav-dropdown" id="search")
				div(id="search-wrap")
					input(type="search" id="search-input" placeholder="Search site")
					button(id="search-submit")
						svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right")
							path(d="M5 12h14")
							path(d="m12 5 7 7-7 7")