doctype html
html
	head

		include ./includes/_meta.pug

		include ./includes/_assets-head.pug

		title Gardenburger

	body

		header

			include ./includes/_logo.pug

			#nav-wrap
				include ./includes/_nav-top.pug

		main

		footer
			
			include ./includes/_nav-bot.pug

		include ./includes/_assets-end.pug