doctype html
html
	head

		include ./includes/_meta.pug

		include ./includes/_assets-head.pug

		title Gardenburger

	body

		header

			include ./includes/_logo.pug

			include ./includes/_nav.pug

		main

		include ./includes/_assets-end.pug